# build output
dist/

# generated types
.astro/
.sisyphus


# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.development
.env.staging
.env.test
.env.local
.env.*.local

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Linux
*~
.directory
.Trash-*

# test coverage
coverage/
*.lcov

# caches
.cache/
.eslintcache
*.tsbuildinfo
.turbo/
.npm/
.yarn-integrity

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~
.kiro
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
